<%- include('partials/header'); -%>

<div class="text-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/US_landings.jpg/450px-US_landings.jpg">
    <p>Map showing the main areas of the conflict and Allied landings in the Pacific, 1942–1945</p>
    <a href="/blogs" class="btn btn-primary" role="button">
    Click here to see our blogs!
    </a>
</div>

<%- include('partials/footer'); -%>
