<%- include('partials/simpleHeader'); -%>
<h1>Sign Up</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placdholder="username">
    <input type="password" name="password" placeholder="password">
    <button class="btn btn-xs btn-success">Submit</button>
</form>

<%- include('partials/footer'); -%>
